
<style>

.subhead2 {
	font-size:24px;
	font-weight:bold;
	color:#ffffff;
	text-shadow: 1px 1px #000000;
}

.title1 {
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	text-shadow: 1px 1px #000000;
}

</style>

